
*{
    box-sizing: border-box;
}
body {
 /* background: #2c2b2b; */
 background: #131313;
 color: #131313;
 padding: 0;
 margin: 0;
 /* background: #21303b;
 color: #fff; */
}

.header-index {
  height: 112px;
  position: sticky;
  z-index: 2;
  top: 0;
  /* background: #131313; */
  background: rebeccapurple;
}

.in-left{
  width: 400px;
  height: 400px;
  /* background: red; */
  box-sizing: border-box;
  box-shadow: wheat 1px 0px 1px;
}

.in-left > div {
  width: 92%;
  height: 92%;
  /* background: gainsboro; */
  box-shadow: wheat -1px 0px 1px;
}

.quote {
  color: aliceblue;
  text-align: center;
  font-size: 46px;
  text-shadow: #98abb9 2px 1px 2px;
}

.height-100{
  height: 100%;
}
 
.brand-name {
  font-size: 40px;
  line-height: 104px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-shadow: #363535 3px 3px 5px;
}
 
.brand-logo {
  float: left;
  position: absolute;
  margin: 15px 0;
  outline: 1px dashed #98abb9;
  outline-offset: -5px;
  z-index: 1;
  background-color: #2c2b2b;
  height: 100px;
  width: 200px;
  margin: -48px 0;
  -webkit-box-shadow: 2px 2px 2px #000;
  -moz-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000;
}

.nav-head{
  /* background: red; */
  height: 66px;
  display: flex;

  /* border-bottom-style: solid;
  border-bottom-color: coral;
  border-block-end-width: 1px; */
  box-shadow: 0px 0px 1px white;
}


.bottom-dash {
  border-bottom-style: solid;
  border-bottom-color: #363535;
  border-block-end-width: 3px;
}

.border-right {
  /* border-right: 4px solid #514c4c; */
  /* box-shadow: white 3px 0px 0px; */
  box-shadow: #363535 2px 0px 0px;
}

.main {
    background-image: url('./img/wine-food1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.posi {
  position: absolute;
  width: 100%;
}

.sign-iu {
  padding: 0px 10px;
}

.active {
  border-bottom-style: solid;
  border-bottom-color: coral;
  border-block-end-width: 3px;
}
.nav-head > div > ul > li > a:hover {
  color: grey;
}
.nav-head > div > ul {
    margin: 38px 0 0 0;
}

.li-sty-none {
  list-style: none;
}

.nav-link-index{
    cursor: pointer;
    font-weight: bolder;
}

.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-3 {
  flex-grow: 3;
}
.flex-grow-4 {
  flex-grow: 4;
}
.flex-grow-5 {
  flex-grow: 5;
}
.flex-grow-6 {
  flex-grow: 6;
}
.flex-grow-7 {
  flex-grow: 7;
}
.flex-grow-8 {
  flex-grow: 8;
}